@charset "utf-8";
*{padding:0; margin:0 auto;} /* IE8*/
*+html *{padding:0; margin:0;}
* {margin:0; padding:0;}
body{ -webkit-text-size-adjust: none;color:#444; background: #ffffff;}
div{font-size:14px; text-align:left;margin:0 auto;}
a { color:#444; text-decoration: none; outline:medium none; }
a:hover{color:#900;}
ul,li{padding:0px; margin:0px; list-style-type:none; list-style: none;}
img{border:none;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote{padding:0; margin:0;}
table,td,tr,th{font-size:12px;}
.clear:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
* html .clear{zoom:1;} /* IE6 */
*+html .clear{zoom:1;} /* IE7 */
.transparent{background:transparent;}
.left{float:left;}
.right{float:right;}
.bold{font-weight:bold}
.ari{font-family:"微软雅黑";}
.container{width: 1120px;margin: 0 auto;}

body{
    background-color: #f7f7f7;
}
/*top*/
.top{
    width: 100%;
    height: 182px;
}
.logo{
    width: 1200px;
    height: 131px;
    margin: 0 auto;
}
.logo img{
    margin-top: 30px;
}
.top_nav{
    background-color: #1966a7;
}
.nav_main{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    position: relative;
}
.nav ul li{
    float: left;
    padding: 0 26px;
    line-height: 50px;
    font-size: 22px;
    border-right: 1px solid white;
    font-weight: bold;
   font-family: "微软雅黑";
}
.nav ul li:last-child{
    border: none;
}
.nav ul li a{
    color: white;
}
.search{
    width: 330px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 5px;
}
.search input:first-child{
    width: 290px;
    height: 38px;
    border: none;
    outline: none;
    text-indent: 10px;
}
.search button{
    position: absolute;
    right: 10px;
    top: 0;
    width: 30px;
    height: 38px;
    background: url("../images/search.jpg") -5px 8px no-repeat;
    background-color: white;
    border: none;
    outline: none;
}

/*index*/
.index_main{
    width: 1200px;
    margin: 12px auto;
    background-color: #ffffff;
}
.tt{
    height: 92px;
    padding: 20px 0;
    
}
.tt h2{
    font-size: 28px;
    color: #005298;
    text-align: center;
    font-weight: bold;
    font-family: "微软雅黑";
}
.tt h2 a{
    color: #005298;
}
.tt p{
    font-size: 18px;
    color: #7a7a7a;
    text-align: center;
    margin-top: 20px;
}
.tpxw{
    width:619px;
    height: 347px;
}
.gzdt{
    width: 514px;
    height: 347px;
		margin-right: 20px;
}
.tit{
    height: 48px;
}
.tit ul {  border-top: 1px solid #dadada;}
.tit ul li{
    float: left;
    width: 115px;
    text-align: center;
    line-height: 46px;
  
    font-size: 20px;
}
.tit .change{
    border-top: 2px solid #1966a7;
}
.tit .change a{
    color: #1966a7;
}
.cont ul li{
    line-height: 38px;
    font-size: 16px;
    color: #222222;
}
.cont ul li b{
    font-weight: normal;
    color: #5d5d5d;
    margin: 0 6px;
}
.cont ul li span{
    color: #9d9d9d;
}
.first .cont ul li:first-child{
    font-size: 20px;
    color: #004d95;
    text-align: center;
}
.first .cont ul li:first-child a{
    color: #1966a7;
}
.first .cont ul li:first-child b,.first .cont ul li:first-child span{
    display: none;
}
.second{
    height: 600px;
    margin-top: 18px;
}
.second .one{
    width: 347px;
    height: 600px;
    margin: 0 59px 0 22px;
}
.second .two{
    width: 346px;
    height: 600px;
}
.second .three{
    width: 345px;
    height: 600px;
    margin-right: 22px;
}
.title p{
    height: 46px;
    border-bottom: 1px solid #bababa;
    line-height: 46px;
    font-size: 22px;
    font-weight: bold;
    color: #222222;
}
.gggs{
    height: 273px;
}
.second .cont li{
    font-size: 16px;
    line-height: 34px;
}
.xxgk{
    height: 328px;
}
.xxgk p{
    height: 64px;
    background-color: #1966a7;
    color: white;
    font-size: 22px;
    line-height: 64px;
    text-align: center;
}
.xxgk ul{
    background-color: #f4f6fa;
    height: 264px;
}
.xxgk ul li{
    height: 52.8px;
    line-height: 52.8px;
    text-indent: 125px;
    font-size: 18px;
    color: #2c2c2c;
}
.li1{
    background: url("../images/tip.png") 80px 5px no-repeat;
}
.li2{
    background: url("../images/tip.png") 80px -50px no-repeat;
}
.li3{
     background: url("../images/tip.png") 80px -100px no-repeat;
 }
.li4{
    background: url("../images/tip.png") 80px -150px no-repeat;
}
.li5{
    background: url("../images/tip.png") 82px -208px no-repeat;
}
.ztzl{
    height: 405px;
}
.two .ztzl .cont li{
    line-height: 42px;
}
.img_link a{
    display: inline-block;
    width: 90px;
    height: 110px;
    margin-top: 30px;
    margin-left: 18px;
}
.img_link a img{
    margin-left: 10px;
}
.img_link a p{
    text-align: center;
}
.img_link1 a{
    display: inline-block;
    width: 82px;
    height: 110px;
    margin-top: 30px;
   
}
.img_link1 a img{
    margin-left: 5px;
}
.img_link1 a p{
    text-align: center;
}
.ywgl{
    height: 312px;
}
.ywgl ul{
    margin-top: 10px;
}
.ywgl ul li{
    width: 115px;
    float: left;
    height: 40px;
    line-height: 40px;
}
.hdjl .img_link a{
    width: 80px;
    height: 70px;
    margin-top: 22px;
}
.hdjl .img_link a img{
    margin-left: 15px;
}
#zxft img{
    margin-left: 3px;
}
#wsdc img{
    margin-left: 9px;
}
.friendlink{
    margin-top: 40px;
    height: 90px;
    border-top: 2px solid #1966a7;
}
.friendlink select{
    width: 200px;
    height: 34px;
    margin-top: 26px;
    margin-right: 32px;
}
.friendlink select:first-child{
    margin-left: 20px;
}
.friendlink select:last-child{
    margin-right: 0;
}


/*bottom*/
.bottom{
    width: 1154px;
    height: 136px;
    padding: 0 23px;
    border-top: 1px solid #dadada;
    margin: 0 auto;
    background-color: white;
    position: relative;
}
.bottom>ul{
    width: 570px;
    margin:15px auto 0;
}
.bottom>ul li{
    float: left;
}
.bottom>ul li a{
    padding: 0 12px;
    border-right: 1px solid #538cbd;
    color: #538cbd;
    font-size: 16px;
}
.bottom>ul li:last-child a{
    border: none;
}
.copyright{
    width: 835px;
    margin: 20px auto 0;
}
.copyright p{
    text-align: center;
    color: #959595;
    line-height: 26px;
    font-size: 14px;
}
.copyright p img{
    vertical-align:middle;
}
.bottom_link{
    width: 200px;
    margin: 20px auto 0;
}
#dzjg{
    position: absolute;
    top: 20px;
    left: 0px;
}
#jc{
    position: absolute;
    top: 30px;
    right: 50px;
}
.slh{
    position: absolute;
    top: 37px;
    left: 75px;
}
/*对联飘窗*/
.ydbg1{ position:fixed; top:240px; left:10px;}
.ydbg2{ position:fixed; top:240px; right:10px;}
.ydbg3{ position:fixed; top:500px; left:10px;}
.ydbg4{ position:fixed; top:500px; right:10px;}
.gban{ cursor:pointer; position:absolute; top:-15px; left:5px; display:block; height:20px; width:20px; background:url(../images/close.jpg) no-repeat left top;}
.gban-dlr{ cursor:pointer;position:absolute; top:-15px; right:5px; display:block; height:20px; width:20px; background:url(../images/close.jpg) no-repeat left top;}
.bwcx  ul{ overflow:hidden; zoom:1; }
.bwcx  ul li{ margin: 3px 0 0 0; _display:inline; overflow:hidden; text-align:center;}
.bwcx  ul li { text-align:center; }
.bwcx  ul li  img{ width:346px; height:86px; display:block;}

.xcxm-con{overflow:hidden; width:346px;}
.xcxm-con .bd{overflow:hidden;}
.xcxm-con .bd ul{ overflow:hidden; zoom:1; }
.xcxm-con .bd ul li{ margin: 3px 0 0 0; float:left; _display:inline; overflow:hidden; text-align:center;}
.xcxm-con .bd ul li .pic{ text-align:center; }
.xcxm-con .bd ul li .pic img{ width:346px; height:86px; display:block;}

.yqlj{margin-top:20px;}
.slideContainer .prev,.slideContainer .next{ opacity: 0.5; display:block; width: 28px; border-radius: 50%; height: 28px; line-height: 28px; font-size: 22px; overflow:hidden;cursor:pointer; background:#333333; color: #FFFFFF; text-align: center; position:absolute; left:15px; top:44px; z-index:9;}
.slideContainer .next{ left:auto; right:15px;}
.slideContainer .prev:hover{ opacity: 1;}
.slideContainer .next:hover{ opacity: 1;}
.slideContainer{ width: 1178px; background: #FFFFFF; height: 100px;position:relative; overflow: hidden; padding: 10px;border: 1px solid #CCCCCC }
.slideContainer .bd ul{ overflow:hidden; zoom:1;}
.slideContainer .bd ul li{ float: left; width: 280px; height: 100px; margin-right: 20px; }
.slideContainer .bd ul li img{ display:block; width: 280px; height: 100px; }
